body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ecedef;
    line-height: 1.8;
}
.container{
    max-width: 430px;
    margin: 30px auto;
}
.form-wrap{
    background-color: #fff;
    padding: 20px 30px;
    border-top: solid 4px #49c1a2;   
}
.btm{
  text-align: center;
  font-size: 15px;
}
.name{
    width: 100%;
    border: 1px solid silver;
}
.btn{
    width: 100%;
    border: 1px solid silver;
   background-color: #49c1a2;
   margin-top: 20px;
}